:root{
    --bs-blue: #06758b;
}

.body {
    /* background-color: blue; */
    font-family: 'Courier New', Courier, monospace;
 }

 .nav-color {
    background-color: var(--bs-blue) !important;
    
 }

 .margin-list{
    margin-right: 1rem !important;
 }

 .alto{
    height: 150%;
    margin-right: 4px;
 }

 .caja{
    height: 90%;
 }

 .valor{
    height: 54%;
 }
